ErrorDocument 404 /BriefNow/404.php

Options +FollowSymLinks

RewriteEngine On

RewriteRule ^api-testing$ test.html [L]
RewriteRule ^copyright$ copyright.html [L]
RewriteRule ^generate-data$ generate.html [L]
RewriteRule ^json-to-xml-converter$ json-to-xml.html [L]
RewriteRule ^xml-to-json-converter$ xml-to-json.html [L]
RewriteRule ^api-docs/$ docs/ [L]
RewriteRule ^api-docs/user$ docs/user.html [L]
RewriteRule ^api-docs/employee$ docs/employee.html [L]
RewriteRule ^api-docs/student$ docs/student.html [L]
RewriteRule ^api-docs/course$ docs/course.html [L]
RewriteRule ^api-docs/country$ docs/country.html [L]
RewriteRule ^api-docs/car$ docs/car.html [L]