ErrorDocument 404 /BriefNow/404.php

Options +FollowSymLinks

RewriteEngine On

RewriteRule ^api-testing$ test.html [L]
RewriteRule ^docs/user$ docs/user.html [L]
RewriteRule ^docs/employee$ docs/employee.html [L]
RewriteRule ^docs/student$ docs/student.html [L]
RewriteRule ^docs/course$ docs/course.html [L]
RewriteRule ^docs/country$ docs/country.html [L]
RewriteRule ^docs/car$ docs/car.html [L]